<% @albums.each do |album| %>
  <table>
    <tr>
      <td><img src="<%= album.image_url %>"></td>
      <td><%= album.name %></td>
      <td><%= album.released_at %></td>
    </tr>
  </table>
<% end %>
